.container{
    display: flex;
    justify-content: center;
    
}
.section{
    width: 90%;
    display:flex; 
    flex-direction: column;
}

.admin_board_title{
    display:flex; 
    justify-content:center;
}

#button_add_elocien{
    display:flex; 
    justify-content:center;
}

.button_add_elocien{
    display:flex; 
    align-items:center;
}

.button_add_elocien .button{
    padding:6px;
    padding-top: 1px;
}