@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.container{
    display: flex;
    justify-content: center;
    
}
.section{
    width: 90%;
    display:flex; 
    flex-direction: column;
}

.dashboard_title{
    display:flex; 
    justify-content:center;
}

.dashboard_article{
    display:flex; 
    justify-content:center;
    
}

.block_bottom{
    display: flex;
    justify-content: space-between;
}

.dashboard_project{
    width: 24%;
    box-shadow: 1px 1px 8px black;
}

.dashboard_elociens{
    width: 24%;
    box-shadow: 1px 1px 8px black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard_metis{
    width: 24%;
    box-shadow: 1px 1px 8px black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard_infos{
    width: 24%;
    box-shadow: 1px 1px 8px black;
    display: flex;
    justify-content: center;
    align-items: center;
}